
.button-close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}
  
.button-close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
    cursor: pointer;
}
  
.button-task {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

.btn-group .button {
    float:right;
    display:inline-block;
    background-color:  #005012; 
    border: 1px solid green;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
  }
  
  .btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  .btn-group .button:hover {
    background-color: #3e8e41;
  }