
.button-close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}
  
.button-close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
    cursor: pointer;
}
  
.button-task {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}