.taskForm-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
  
.taskForm-inline label {
  margin: 5px 10px 5px 0;
}
  
.taskForm-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
  
.taskForm-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}
  
.taskForm-inline button:hover {
  background-color: royalblue;
}
  
@media (max-width: 800px) {
  .taskForm-inline input {
    margin: 10px 0;
  }
    
  .taskForm-inline {
    flex-direction: column;
    align-items: stretch;
   }
  }