.taskForm-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
  
.taskForm-inline label {
  margin: 5px 10px 5px 0;
}
  
.taskForm-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  flex-grow: 1;
  background: #333745;
  border: 0;
  border-bottom: .3rem solid darken(#333745,10%);
  color: #78c88a;
}
  
.taskForm-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}
  
.taskForm-inline button:hover {
  background-color: royalblue;
}
  
@media (max-width: 800px) {
  .taskForm-inline input {
    margin: 10px 0;
  }
    
  .taskForm-inline {
    flex-direction: column;
    align-items: stretch;
   }
  }



.taskFormAdd {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 2.4rem;
  margin-top: -2.4rem;
  position:relative;
  width: 1050px;

}
.taskFormAdd-body {
  background: #464b5e;
  color: #78c88a;
    margin: 0;
    padding: 3.2rem;
    text-align: center;
    border-bottom: 1px solid lighten(#464b5e, 10%);
}